* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #F9FAFC;
    color: #1C1C1C;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    background-color: #0A1E5E;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .left-panel h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Georgia', serif;
  }
  
  .right-panel {
    background-color: #ffffff;
    flex: 1;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.05);
    border-left: 2px solid #1034A6;
  }
  
  .right-panel h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #1034A6;
    font-size: 1.8em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .name-fields {
    display: flex;
    gap: 15px;
  }
  
  .name-fields div {
    flex: 1;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 12px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    width: 100%;
    font-size: 1em;
    transition: border 0.2s ease-in-out;
  }
  
  input:focus {
    border-color: #2051D8;
    outline: none;
  }
  
  .roles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    background-color: #F4F7FE;
  }
  
  .roles label {
    font-weight: normal;
    color: #6B7280;
  }
  
  button {
    background-color: #1034A6;
    color: black;
    border: none;
    padding: 14px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #2051D8;
    color:white;
  }
  
  .signin-link {
    text-align: center;
    margin-top: 20px;
    color: #6B7280;
  }
  
  .signin-link a {
    color: #1034A6;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.nav-item a:hover {
    background-color: var(--egyptian-blue-light);
  border-radius: 10px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
